# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# VSCode
.vscode/

# macOS
.DS_Store
